@use "css-reset";

@function toRem($value) {
    $remValue: calc($value / 16) + rem;	
    @return $remValue;
}

$col-prim-orange: hsl(35, 77%, 62%);
$col-prim-red: hsl(5, 85%, 63%);
$col-neut-off-white: hsl(36, 100%, 99%);
$col-neut-gray-blue: hsl(233, 8%, 79%);
$col-neut-dark-gray-blue: hsl(236, 13%, 42%);
$col-neut-ver-dar-blue: hsl(240, 100%, 5%);
$font-size: toRem(15);
$font-family: 'Inter', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-xBold: 800;

body {
    display: grid;
    place-content: center;
    font-family: $font-family;
    color: $col-neut-ver-dar-blue;
}

.wrapper {
    max-width: toRem(1200);
    padding: 1rem;
}

[hidden] {
    display: none!important;
}

* p {
    font-size: $font-size;
    line-height: 1.8;
    font-weight: $font-weight-normal;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    position: relative;

    .logo img {
        height: auto;
    }

    nav {
        display: flex;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        right: 5rem;
    }
}

main {
    margin-top: 2rem;
    display: grid;
    grid-auto-rows: auto;
    gap: 4rem;
    padding-bottom: 3rem;
}

.read-more {
    background-color: $col-prim-red;
    color: $col-neut-off-white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem 2.5rem;
    width: fit-content;
    font-size: $font-size;
}

.main-article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    picture img {
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }

    h1 {
        font-size: calc(2.8  * $font-size);
        line-height: 1;
        font-weight: $font-weight-xBold;
    }


}

.new-articles {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $col-neut-ver-dar-blue;
    color: $col-neut-off-white;
    padding: 1.5rem 1rem;

    h2 {
        color: $col-prim-orange;
        font-size: calc(2 * $font-size);
    }

    hr {
        width: 100%;
        border: 1px solid $col-neut-gray-blue;
    }

    p {
        color: $col-neut-gray-blue;
    }
}

.most-readed {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    article {
        display: grid;
        grid-template-columns: .3fr .7fr;
        gap: 1.5rem;
    }

    h2{
        color: $col-neut-gray-blue;
        font-size: calc(2.2 * $font-size);
    }
}
